<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Search Filter
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div class="container">
          <form [formGroup]="filterForm">
            <div class="row filter-row">
              <div class="">
                <label class="form-label filter-label">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  placeholder="Enter key search words"
                  formControlName="title"
                />
              </div>
            </div>
            <div class="row filter-row">
              <div class="col-md-6">
                <div class="form-label filter-label">Categories</div>
                <div>
                  <select
                    id="category"
                    formControlName="category"
                    class="form-select"
                    multiple
                    aria-label="multiple select example"
                  >
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label filter-label">Tags</div>
                <div>
                  <select
                    id="tags"
                    formControlName="tags"
                    class="form-select"
                    multiple
                    aria-label="multiple select example"
                  >
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row filter-row">
              <div class="filter-label">Date Range</div>
              <ngx-slider
                [(value)]="value"
                [(highValue)]="highValue"
                [options]="options"
                formControlName="date_range"
              ></ngx-slider>
            </div>
            <div class="btn-container">
              <button class="btn" (click)="clearFilter()">Clear Filter</button>
              <button class="btn btn-primary" (click)="onSubmit()">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
